<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a routerLink="">Homepage</a></li>
			<li><a [routerLink]="['blog']" routerLinkActive="router-link-activeng g ">Blog</a></li>
			<li><a href="#">Photos</a></li>
			<li><a [routerLink]="['about']" routerLinkActive="router-link-active" >About</a></li>
			<li><a href="#">Links</a></li>
			<li><a [routerLink]="['contact']" routerLinkActive="router-link-active" >Contact</a></li>
		</ul>
	</div>
	<!-- end #menu --> 
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">StampALike</a></h1>
			<p>Template design by <a href="http://www.freecsstemplates.org">FCT</a></p>
		</div>
	</div>
</div>
