<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">
		<!-- end #content -->
       <form #contactForm = "ngForm">
           <label>username</label>
           <input type="text" name="username" #name class="form-control"><br>
       <br>
       <label>location</label>
           <input type="text" name="location" #location class="form-control">
           <br>
           <br>
           <label>Comment</label>
           <textarea class="form-control">

           </textarea>
           <br>
           <br>
           <input type="submit" class="btn btn-primary text-center">
       </form>
	 
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<div id="page-bgbtm"></div>
	<!-- end #page --> 
</div>